CLEANING DATA

THIS STAGE IS ALL ABOUT MAKING MY DATA NEAT AND READY FOR ANALYSIS. MESSY DATA CAN LEADTO WRONG CONCLUSIONS. 

THE STEPS:
1- REMOVING NULLS(MISSING DATA)

In [17]:
#CHECK FOR NULLS FIRST
import pandas as pd

df = pd.read_csv('supmkt.csv')

df.isnull().sum()

Product_Identifier                   0
Supermarket_Identifier               0
Product_Supermarket_Identifier       0
Product_Weight                     802
Product_Fat_Content                  0
Product_Shelf_Visibility             0
Product_Type                         0
Product_Price                        0
Supermarket_Opening_Year             0
Supermarket_Size                  1450
Supermarket_Location_Type            0
Supermarket_Type                     0
Product_Supermarket_Sales            0
dtype: int64

In [18]:
#REMOVE ROWS WITH ANY MISSING VALUE:
df.dropna()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
1,DRA12,CHUKWUDI013,DRA12_CHUKWUDI013,11.60,Low Fat,0.040912,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
3,DRA12,CHUKWUDI018,DRA12_CHUKWUDI018,11.60,Low Fat,0.041113,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23
4,DRA12,CHUKWUDI035,DRA12_CHUKWUDI035,11.60,Ultra Low fat,0.000000,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77
7,DRA24,CHUKWUDI013,DRA24_CHUKWUDI013,19.35,Normal Fat,0.039895,Soft Drinks,406.22,1994,High,Cluster 3,Supermarket Type1,11055.61
11,DRA24,CHUKWUDI035,DRA24_CHUKWUDI035,19.35,Normal Fat,0.039921,Soft Drinks,408.47,2011,Small,Cluster 2,Supermarket Type1,8598.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4980,NCZ53,CHUKWUDI018,NCZ53_CHUKWUDI018,9.60,Low Fat,0.024577,Health and Hygiene,466.55,2016,Medium,Cluster 3,Supermarket Type2,4710.54
4982,NCZ53,CHUKWUDI049,NCZ53_CHUKWUDI049,9.60,Low Fat,0.024515,Health and Hygiene,473.05,2006,Medium,Cluster 1,Supermarket Type1,9892.12
4984,NCZ54,CHUKWUDI018,NCZ54_CHUKWUDI018,14.65,Low Fat,0.083699,Household,408.64,2016,Medium,Cluster 3,Supermarket Type2,6498.21
4988,NCZ54,CHUKWUDI046,NCZ54_CHUKWUDI046,14.65,Low Fat,0.083359,Household,404.89,2004,Small,Cluster 1,Supermarket Type1,11778.00
4989,NCZ54,CHUKWUDI049,NCZ54_CHUKWUDI049,14.65,Low Fat,0.083489,Household,403.39,2006,Medium,Cluster 1,Supermarket Type1,17870.07

In [ ]:
#REMOVE ROWS IN-PLACE
df.dropna(inplace=True)