MERGING AND JOINING.
This is used in combining rows from two dataframe based on a common column/key (like id, user_id, etc)

In [9]:
# 1. pd.merge();: like SQL JOINS (on keys)
#  commonly used in column/key (like id, user_id, etc)#
import pandas as pd

#LOAD BOTH CVS
supmkt_df = pd.read_csv('supmkt.csv')
supmket_df = pd.read_csv('supmket.csv')

print(supmket_df.head())
print(supmkt_df.head())

  Product_Identifier Supermarket_Identifier Product_Supermarket_Identifier  \
0              DRA12            CHUKWUDI010              DRA12_CHUKWUDI010
1              DRA12            CHUKWUDI013              DRA12_CHUKWUDI013
2              DRA12            CHUKWUDI017              DRA12_CHUKWUDI017
3              DRA12            CHUKWUDI018              DRA12_CHUKWUDI018
4              DRA12            CHUKWUDI035              DRA12_CHUKWUDI035

   Product_Weight Product_Fat_Content  Product_Shelf_Visibility Product_Type  \
0            11.6             Low Fat                  0.068535  Soft Drinks
1            11.6             Low Fat                  0.040912  Soft Drinks
2            11.6             Low Fat                  0.041178  Soft Drinks
3            11.6             Low Fat                  0.041113  Soft Drinks
4            11.6       Ultra Low fat                  0.000000  Soft Drinks

   Product_Price  Supermarket_Opening_Year Supermarket_Size  \
0         357.54                      2005              NaN
1         355.79                      1994             High
2         350.79                      2014              NaN
3         355.04                      2016           Medium
4         354.79                      2011            Small

  Supermarket_Location_Type   Supermarket_Type  Product_Supermarket_Sales
0                 Cluster 3      Grocery Store                     709.08
1                 Cluster 3  Supermarket Type1                    6381.69
2                 Cluster 2  Supermarket Type1                    6381.69
3                 Cluster 3  Supermarket Type2                    2127.23
4                 Cluster 2  Supermarket Type1                    2481.77
  Product_Identifier Supermarket_Identifier Product_Supermarket_Identifier  \
0              DRA12            CHUKWUDI010              DRA12_CHUKWUDI010
1              DRA12            CHUKWUDI013              DRA12_CHUKWUDI013
2              DRA12            CHUKWUDI017              DRA12_CHUKWUDI017
3              DRA12            CHUKWUDI018              DRA12_CHUKWUDI018
4              DRA12            CHUKWUDI035              DRA12_CHUKWUDI035

   Product_Weight Product_Fat_Content  Product_Shelf_Visibility Product_Type  \
0            11.6             Low Fat                  0.068535  Soft Drinks
1            11.6             Low Fat                  0.040912  Soft Drinks
2            11.6             Low Fat                  0.041178  Soft Drinks
3            11.6             Low Fat                  0.041113  Soft Drinks
4            11.6       Ultra Low fat                  0.000000  Soft Drinks

   Product_Price  Supermarket_Opening_Year Supermarket_Size  \
0         357.54                      2005              NaN
1         355.79                      1994             High
2         350.79                      2014              NaN
3         355.04                      2016           Medium
4         354.79                      2011            Small

  Supermarket_Location_Type   Supermarket_Type  Product_Supermarket_Sales
0                 Cluster 3      Grocery Store                     709.08
1                 Cluster 3  Supermarket Type1                    6381.69
2                 Cluster 2  Supermarket Type1                    6381.69
3                 Cluster 3  Supermarket Type2                    2127.23
4                 Cluster 2  Supermarket Type1                    2481.77

In [12]:
# 1. pd.merge();: like SQL JOINS (on keys)
#  commonly used in column/key (like id, user_id, etc)#
merged_df = pd.merge(supmkt_df, supmket_df, on='Product_Weight', how='left')
print(merged_df.head())

  Product_Identifier_x Supermarket_Identifier_x  \
0                DRA12              CHUKWUDI010
1                DRA12              CHUKWUDI010
2                DRA12              CHUKWUDI010
3                DRA12              CHUKWUDI010
4                DRA12              CHUKWUDI010

  Product_Supermarket_Identifier_x  Product_Weight Product_Fat_Content_x  \
0                DRA12_CHUKWUDI010            11.6               Low Fat
1                DRA12_CHUKWUDI010            11.6               Low Fat
2                DRA12_CHUKWUDI010            11.6               Low Fat
3                DRA12_CHUKWUDI010            11.6               Low Fat
4                DRA12_CHUKWUDI010            11.6               Low Fat

   Product_Shelf_Visibility_x Product_Type_x  Product_Price_x  \
0                    0.068535    Soft Drinks           357.54
1                    0.068535    Soft Drinks           357.54
2                    0.068535    Soft Drinks           357.54
3                    0.068535    Soft Drinks           357.54
4                    0.068535    Soft Drinks           357.54

   Supermarket_Opening_Year_x Supermarket_Size_x  ...  \
0                        2005                NaN  ...
1                        2005                NaN  ...
2                        2005                NaN  ...
3                        2005                NaN  ...
4                        2005                NaN  ...

  Product_Supermarket_Identifier_y Product_Fat_Content_y  \
0                DRA12_CHUKWUDI010               Low Fat
1                DRA12_CHUKWUDI013               Low Fat
2                DRA12_CHUKWUDI017               Low Fat
3                DRA12_CHUKWUDI018               Low Fat
4                DRA12_CHUKWUDI035         Ultra Low fat

   Product_Shelf_Visibility_y Product_Type_y Product_Price_y  \
0                    0.068535    Soft Drinks          357.54
1                    0.040912    Soft Drinks          355.79
2                    0.041178    Soft Drinks          350.79
3                    0.041113    Soft Drinks          355.04
4                    0.000000    Soft Drinks          354.79

  Supermarket_Opening_Year_y Supermarket_Size_y  Supermarket_Location_Type_y  \
0                       2005                NaN                    Cluster 3
1                       1994               High                    Cluster 3
2                       2014                NaN                    Cluster 2
3                       2016             Medium                    Cluster 3
4                       2011              Small                    Cluster 2

  Supermarket_Type_y  Product_Supermarket_Sales_y
0      Grocery Store                       709.08
1  Supermarket Type1                      6381.69
2  Supermarket Type1                      6381.69
3  Supermarket Type2                      2127.23
4  Supermarket Type1                      2481.77

[5 rows x 25 columns]

| Merge Type | What it does                                |
| ---------- | ------------------------------------------- |
| `'inner'`  | Only matching rows (default) âœ…              |
| `'left'`   | All rows from left file, match if possible  |
| `'right'`  | All rows from right file, match if possible |
| `'outer'`  | All rows from both, fill missing with `NaN` |

pd.concat()-- STACK ROWS OR COLUMNS

In [ ]:
#STACKING ROWS(VERTICAL)
# Imagine you split and want to recombine male and female sales#