MERGING AND JOINING.
This is used in combining rows from two dataframe based on a common column/key (like id, user_id, etc)

In [ ]:
# 1. pd.merge();: like SQL JOINS (on keys)
#  commonly used in column/key (like id, user_id, etc)#
import pandas as pd

#LOAD BOTH CVS
supmkt_df = pd.read_csv('supmkt.csv')
supmket_df = pd.read_csv('supmket.csv')

print(supmket_df.head())

  Product_Identifier Supermarket_Identifier Product_Supermarket_Identifier  \
0              DRA12            CHUKWUDI010              DRA12_CHUKWUDI010
1              DRA12            CHUKWUDI013              DRA12_CHUKWUDI013
2              DRA12            CHUKWUDI017              DRA12_CHUKWUDI017
3              DRA12            CHUKWUDI018              DRA12_CHUKWUDI018
4              DRA12            CHUKWUDI035              DRA12_CHUKWUDI035

   Product_Weight Product_Fat_Content  Product_Shelf_Visibility Product_Type  \
0            11.6             Low Fat                  0.068535  Soft Drinks
1            11.6             Low Fat                  0.040912  Soft Drinks
2            11.6             Low Fat                  0.041178  Soft Drinks
3            11.6             Low Fat                  0.041113  Soft Drinks
4            11.6       Ultra Low fat                  0.000000  Soft Drinks

   Product_Price  Supermarket_Opening_Year Supermarket_Size  \
0         357.54                      2005              NaN
1         355.79                      1994             High
2         350.79                      2014              NaN
3         355.04                      2016           Medium
4         354.79                      2011            Small

  Supermarket_Location_Type   Supermarket_Type  Product_Supermarket_Sales
0                 Cluster 3      Grocery Store                     709.08
1                 Cluster 3  Supermarket Type1                    6381.69
2                 Cluster 2  Supermarket Type1                    6381.69
3                 Cluster 3  Supermarket Type2                    2127.23
4                 Cluster 2  Supermarket Type1                    2481.77
  Product_Identifier Supermarket_Identifier Product_Supermarket_Identifier  \
0              DRA12            CHUKWUDI010              DRA12_CHUKWUDI010
1              DRA12            CHUKWUDI013              DRA12_CHUKWUDI013
2              DRA12            CHUKWUDI017              DRA12_CHUKWUDI017
3              DRA12            CHUKWUDI018              DRA12_CHUKWUDI018
4              DRA12            CHUKWUDI035              DRA12_CHUKWUDI035

   Product_Weight Product_Fat_Content  Product_Shelf_Visibility Product_Type  \
0            11.6             Low Fat                  0.068535  Soft Drinks
1            11.6             Low Fat                  0.040912  Soft Drinks
2            11.6             Low Fat                  0.041178  Soft Drinks
3            11.6             Low Fat                  0.041113  Soft Drinks
4            11.6       Ultra Low fat                  0.000000  Soft Drinks

   Product_Price  Supermarket_Opening_Year Supermarket_Size  \
0         357.54                      2005              NaN
1         355.79                      1994             High
2         350.79                      2014              NaN
3         355.04                      2016           Medium
4         354.79                      2011            Small

  Supermarket_Location_Type   Supermarket_Type  Product_Supermarket_Sales
0                 Cluster 3      Grocery Store                     709.08
1                 Cluster 3  Supermarket Type1                    6381.69
2                 Cluster 2  Supermarket Type1                    6381.69
3                 Cluster 3  Supermarket Type2                    2127.23
4                 Cluster 2  Supermarket Type1                    2481.77

In [12]:
# 1. pd.merge();: like SQL JOINS (on keys)
#  commonly used in column/key (like id, user_id, etc)#
merged_df = pd.merge(supmkt_df, supmket_df, on='Product_Weight', how='left')
print(merged_df.head())

  Product_Identifier_x Supermarket_Identifier_x  \
0                DRA12              CHUKWUDI010
1                DRA12              CHUKWUDI010
2                DRA12              CHUKWUDI010
3                DRA12              CHUKWUDI010
4                DRA12              CHUKWUDI010

  Product_Supermarket_Identifier_x  Product_Weight Product_Fat_Content_x  \
0                DRA12_CHUKWUDI010            11.6               Low Fat
1                DRA12_CHUKWUDI010            11.6               Low Fat
2                DRA12_CHUKWUDI010            11.6               Low Fat
3                DRA12_CHUKWUDI010            11.6               Low Fat
4                DRA12_CHUKWUDI010            11.6               Low Fat

   Product_Shelf_Visibility_x Product_Type_x  Product_Price_x  \
0                    0.068535    Soft Drinks           357.54
1                    0.068535    Soft Drinks           357.54
2                    0.068535    Soft Drinks           357.54
3                    0.068535    Soft Drinks           357.54
4                    0.068535    Soft Drinks           357.54

   Supermarket_Opening_Year_x Supermarket_Size_x  ...  \
0                        2005                NaN  ...
1                        2005                NaN  ...
2                        2005                NaN  ...
3                        2005                NaN  ...
4                        2005                NaN  ...

  Product_Supermarket_Identifier_y Product_Fat_Content_y  \
0                DRA12_CHUKWUDI010               Low Fat
1                DRA12_CHUKWUDI013               Low Fat
2                DRA12_CHUKWUDI017               Low Fat
3                DRA12_CHUKWUDI018               Low Fat
4                DRA12_CHUKWUDI035         Ultra Low fat

   Product_Shelf_Visibility_y Product_Type_y Product_Price_y  \
0                    0.068535    Soft Drinks          357.54
1                    0.040912    Soft Drinks          355.79
2                    0.041178    Soft Drinks          350.79
3                    0.041113    Soft Drinks          355.04
4                    0.000000    Soft Drinks          354.79

  Supermarket_Opening_Year_y Supermarket_Size_y  Supermarket_Location_Type_y  \
0                       2005                NaN                    Cluster 3
1                       1994               High                    Cluster 3
2                       2014                NaN                    Cluster 2
3                       2016             Medium                    Cluster 3
4                       2011              Small                    Cluster 2

  Supermarket_Type_y  Product_Supermarket_Sales_y
0      Grocery Store                       709.08
1  Supermarket Type1                      6381.69
2  Supermarket Type1                      6381.69
3  Supermarket Type2                      2127.23
4  Supermarket Type1                      2481.77

[5 rows x 25 columns]

üîç Result (how='inner'):
Only keeps rows with matching Customer_ID in both DataFrames.
| Customer\_ID | Name  | Order\_Amount |
| ------------ | ----- | ------------- |
| 1            | Alice | 100           |
| 2            | Bob   | 200           |

import pandas as pd

# Two sample tables
customers = pd.DataFrame({
    'Customer_ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

orders = pd.DataFrame({
    'Customer_ID': [1, 2, 4],
    'Order_Amount': [100, 200, 150]
})

# Merge on Customer_ID
merged_df = pd.merge(customers, orders, on='Customer_ID', how='inner')
 merged_df = pd.merge(customers, orders, on='Customer_ID', how='inner')

| Merge Type | What it does                                |
| ---------- | ------------------------------------------- |
| `'inner'`  | Only matching rows (default) ‚úÖ            |
| `'left'`   | All rows from left file, match if possible  |
| `'right'`  | All rows from right file, match if possible |
| `'outer'`  | All rows from both, fill missing with `NaN` |

pd.concat()-- STACK ROWS OR COLUMNS

#STACKING ROWS(VERTICAL)
# Imagine you split and want to recombine male and female sales#
| Gender | Product\_line | Total |
| ------ | ------------- | ----- |
| Male   | Food          | 100   |
| Female | Clothes       | 200   |
| Male   | Electronics   | 150   |
| Female | Food          | 250   |

üß± 2. pd.concat(): Stack Vertically or Horizontally
Used when you want to append or combine datasets either:

vertically (one below another ‚Äî axis=0)

horizontally (side by side ‚Äî axis=1)

‚úÖ Example (Vertical):

In [ ]:
df1 = pd.DataFrame({'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'Name': ['Charlie', 'David']})

combined = pd.concat([df1, df2, axis=0])

| Name    |
| ------- |
| Alice   |
| Bob     |
| Charlie |
| David   |

In [ ]:
# Imagine you split and want to recombine male & female sales
male_df = supmkt_df[supmkt_df['Gender'] == 'Male']
female_df = supmkt_df[supmkt_df['Gender'] == 'Female']

# Stack back vertically
stacked_df = pd.concat([male_df, female_df], axis=0)
print(stacked_df.head())

2. Stacking columns (horizontal)

In [ ]:
#JUST TO SHOW LOGIC: SAY WE ONLY WANT CUSTOMER AND TOTAL COLUMS#
total_df = supmkt_df[['Customer_type', 'Total']]
products_df = supmkt_df[['Product_line', 'Unit_price']]

#CoMBINE SIDE-BY-SIDE(MUST HAVE THE SAME  UMBER OF ROWS)
horiz_concat = pd.concat([total_df, products_df], axis=1)
print(horiz_concat.head())

üß± pd.concat() ‚Äî Stack Rows (Vertical)
‚úÖ Example: Stack sales by Gender
Let‚Äôs say you want to split the dataset into male and female customers, and later combine them back. This is vertical stacking.

python
Copy
Edit

In [ ]:
 #Split into male and female DataFrames
male_df = df[df['Gender'] == 'Male']
female_df = df[df['Gender'] == 'Female']

# Stack vertically
stacked_rows = pd.concat([male_df, female_df], axis=0)

# Reset index if needed
stacked_rows = stacked_rows.reset_index(drop=True)

print(stacked_rows.head())

üìå Key Logic:

You're adding more rows (like combining pages of a notebook).

This is common when merging same-structure data from different time periods, regions, or categories.

üìå Key Logic:

You're adding more rows (like combining pages of a notebook).

This is common when merging same-structure data from different time periods, regions, or categories.

In [ ]:
customer_info = df[['Customer_type', 'Gender']]
product_info = df[['Product_line', 'Total']]

# Stack horizontally (side-by-side)
stacked_columns = pd.concat([customer_info, product_info], axis=1)

print(stacked_columns.head())

üìå Key Logic:

You're adding more columns (like adding more fields in a form).

Use this when you have different pieces of information (same number of rows) that you want to combine.

| Type          | What You Did                               | pd.concat(..., axis=) |
| ------------- | ------------------------------------------ | --------------------- |
| Stack Rows    | Male + Female sales one after the other    | `axis=0`              |
| Stack Columns | Combine selected customer + product fields | `axis=1`              |

üîÅ Why reset_index()?
When you split and concatenate like this:

In [ ]:
stacked = pd.concat([male_df, female_df], axis=0)

The row indices might still be like:
0
2
1
3
That‚Äôs confusing. So we say:

python
Copy
Edit
stacked = stacked.reset_index(drop=True)
To make the row numbers go back to 0, 1, 2, 3 ‚Äî a fresh, clean order.

.JOIN()

Enrich supmkt.csv with Store Info using .join()
We‚Äôll combine two CSV-like tables:

üîπ 1. Main Data ‚Äî supmkt.csv (we'll call this main_df):

| Store\_ID | Product\_ID | Product\_Price |
| --------- | ----------- | -------------- |
| S001      | P001        | 100            |
| S002      | P002        | 150            |
| S003      | P003        | 200            |

üîπ 2. Second Table ‚Äî Store Info (store_info_df):

| Store\_ID | Location      | Manager |
| --------- | ------------- | ------- |
| S001      | Lagos         | Mr. A   |
| S002      | Abuja         | Ms. B   |
| S003      | Port Harcourt | Mr. C   |

üîß 3. Preparing for the Join
We must set Store_ID as index in both tables:

In [ ]:
supmkt_df.set_index('Store_ID', inplace=True)
supmket_df.set_index('Store_ID', inplace=True)

üîó 4. Perform the Join

In [ ]:
full_df= supmkt_df.join(supmket_df)

‚úÖ 5. Final Result ‚Äî Joined Table

| Store\_ID | Product\_ID | Product\_Price | Location      | Manager |
| --------- | ----------- | -------------- | ------------- | ------- |
| S001      | P001        | 100            | Lagos         | Mr. A   |
| S002      | P002        | 150            | Abuja         | Ms. B   |
| S003      | P003        | 200            | Port Harcourt | Mr. C   |

üß† What You Learned
.join() combines DataFrames using the index.

Acts like a SQL LEFT JOIN by default.

Clean and simple when both tables share a common index (like Store_ID).

Best for adding extra columns (info) without reshuffling rows.