PIVOT TABLES AND CROSSTABS IN PANDAS

THESE TOOLS HELP ME SUMMARIZE LARGE DATA LIKE EXCEL'S TABLE, BUT MORE POWERFUL WHEN WORKING WITH CODE.

In [1]:
#READ CSV FILE
import pandas as pd
df = pd.read_csv('supmkt.csv')
df.head()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
0,DRA12,CHUKWUDI010,DRA12_CHUKWUDI010,11.6,Low Fat,0.068535,Soft Drinks,357.54,2005,NaN,Cluster 3,Grocery Store,709.08
1,DRA12,CHUKWUDI013,DRA12_CHUKWUDI013,11.6,Low Fat,0.040912,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
2,DRA12,CHUKWUDI017,DRA12_CHUKWUDI017,11.6,Low Fat,0.041178,Soft Drinks,350.79,2014,NaN,Cluster 2,Supermarket Type1,6381.69
3,DRA12,CHUKWUDI018,DRA12_CHUKWUDI018,11.6,Low Fat,0.041113,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23
4,DRA12,CHUKWUDI035,DRA12_CHUKWUDI035,11.6,Ultra Low fat,0.000000,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77

DF.PIVOT_TABLE(): MULTI-LEVEL SUMMARIES

It lets you group data by one or more keys (column) and apply an aggregate function (like sum, mean, count).

In [5]:
#EXAMPLES TABLE: SUPERMARKET_SALES
df_pivot_table = df[['Product_Type', 'Supermarket_Identifier', 'Product_Supermarket_Sales']]
print(df_pivot_table)

     Product_Type Supermarket_Identifier  Product_Supermarket_Sales
0     Soft Drinks            CHUKWUDI010                     709.08
1     Soft Drinks            CHUKWUDI013                    6381.69
2     Soft Drinks            CHUKWUDI017                    6381.69
3     Soft Drinks            CHUKWUDI018                    2127.23
4     Soft Drinks            CHUKWUDI035                    2481.77
...           ...                    ...                        ...
4985    Household            CHUKWUDI019                     406.14
4986    Household            CHUKWUDI027                   13808.69
4987    Household            CHUKWUDI045                    5685.93
4988    Household            CHUKWUDI046                   11778.00
4989    Household            CHUKWUDI049                   17870.07

[4990 rows x 3 columns]

In [ ]:
#CREATE A PIVOT TABLE
df_pivot_table(index='Product_Type', columns='Supermarket_Identifier', values='Product_Supermarket_Sales', aggfunc='sum' )