PIVOT TABLES AND CROSSTABS IN PANDAS

THESE TOOLS HELP ME SUMMARIZE LARGE DATA LIKE EXCEL'S TABLE, BUT MORE POWERFUL WHEN WORKING WITH CODE.

In [1]:
#READ CSV FILE
import pandas as pd
df = pd.read_csv('supmkt.csv')
df.head()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
0,DRA12,CHUKWUDI010,DRA12_CHUKWUDI010,11.6,Low Fat,0.068535,Soft Drinks,357.54,2005,NaN,Cluster 3,Grocery Store,709.08
1,DRA12,CHUKWUDI013,DRA12_CHUKWUDI013,11.6,Low Fat,0.040912,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
2,DRA12,CHUKWUDI017,DRA12_CHUKWUDI017,11.6,Low Fat,0.041178,Soft Drinks,350.79,2014,NaN,Cluster 2,Supermarket Type1,6381.69
3,DRA12,CHUKWUDI018,DRA12_CHUKWUDI018,11.6,Low Fat,0.041113,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23
4,DRA12,CHUKWUDI035,DRA12_CHUKWUDI035,11.6,Ultra Low fat,0.000000,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77

DF.PIVOT_TABLE(): MULTI-LEVEL SUMMARIES

It lets you group data by one or more keys (column) and apply an aggregate function (like sum, mean, count).

In [5]:
#EXAMPLES TABLE: SUPERMARKET_SALES
df_pivot_table = df[['Product_Type', 'Supermarket_Identifier', 'Product_Supermarket_Sales']]
print(df_pivot_table)

     Product_Type Supermarket_Identifier  Product_Supermarket_Sales
0     Soft Drinks            CHUKWUDI010                     709.08
1     Soft Drinks            CHUKWUDI013                    6381.69
2     Soft Drinks            CHUKWUDI017                    6381.69
3     Soft Drinks            CHUKWUDI018                    2127.23
4     Soft Drinks            CHUKWUDI035                    2481.77
...           ...                    ...                        ...
4985    Household            CHUKWUDI019                     406.14
4986    Household            CHUKWUDI027                   13808.69
4987    Household            CHUKWUDI045                    5685.93
4988    Household            CHUKWUDI046                   11778.00
4989    Household            CHUKWUDI049                   17870.07

[4990 rows x 3 columns]

In [7]:
#CREATE A PIVOT TABLE
df_pivot_table.pivot_table(index='Product_Type', columns='Supermarket_Identifier', values='Product_Supermarket_Sales', aggfunc='sum' )

Supermarket_Identifier,CHUKWUDI010,CHUKWUDI013,CHUKWUDI017,CHUKWUDI018,CHUKWUDI019,CHUKWUDI027,CHUKWUDI035,CHUKWUDI045,CHUKWUDI046,CHUKWUDI049
Product_Type,,,,,,,,,,
Baking Goods,19224.98,190492.07,240240.65,189118.84,20812.92,330098.69,227652.00,226170.63,218635.41,281705.03
Breads,8134.42,83188.36,91550.83,82068.19,9198.04,167342.17,130145.58,94239.01,70320.12,99418.91
Breakfast,2773.06,29619.78,48448.60,22733.75,7425.34,103635.12,69990.56,40314.20,33529.68,45211.15
Canned,14537.76,164001.55,340188.84,186915.04,30773.28,453228.41,328943.52,295548.66,256148.27,263794.96
Dairy,11668.14,154152.69,389031.97,165170.00,32865.57,452136.51,299708.20,259487.25,173720.55,235163.91
Frozen Foods,19476.34,225581.40,470014.86,214622.31,30938.06,524901.77,382362.28,305795.29,284694.40,292529.22
Fruits and Vegetables,32737.40,332728.55,666588.99,432517.02,48997.86,997744.63,538830.30,623791.43,405423.92,674320.59
Hard Drinks,3856.67,55549.37,123520.88,92840.83,3455.50,150339.33,91873.76,103019.24,69432.95,111195.27
Health and Hygiene,20811.22,180535.01,237342.75,134529.92,23351.29,256973.86,188807.59,169054.96,226255.49,219545.91
Household,35157.60,257952.57,487217.51,293484.67,38945.99,686110.23,511374.38,406650.70,324233.01,447585.77
Meat,13940.21,102186.97,186480.59,167996.34,23451.16,391022.69,203644.94,157751.31,130345.35,229344.83
Others,4868.65,61090.48,76392.25,64154.84,8142.75,41151.44,71067.49,68815.44,72520.62,88130.29
Seafood,1904.19,7090.77,23898.90,39397.05,2909.55,36212.87,45039.71,47288.44,36943.59,21873.20
Snack Foods,34511.78,395129.04,647294.12,481494.95,54257.73,860824.50,674971.44,512706.01,441681.80,641451.75
Soft Drinks,13335.99,140365.61,258814.79,163550.45,19859.15,261111.80,186652.02,185307.16,155542.52,188529.60
Starchy Foods,3700.19,28165.00,83175.07,39716.64,2460.13,90435.62,107764.75,71372.10,46276.42,94826.56

🔹 index = Rows
🔹 columns = Columns
🔹 values = What you want to summarize
🔹 aggfunc = What to calculate (sum, mean, count, etc.)

2. ADD MULTI-LEVEL INDEX

In [8]:
df_pivot_table.pivot_table(index=['Product_Type', 'Supermarket_Identifier'], values='Product_Supermarket_Sales', aggfunc='sum')

                                      Product_Supermarket_Sales
Product_Type  Supermarket_Identifier
Baking Goods  CHUKWUDI010                              19224.98
              CHUKWUDI013                             190492.07
              CHUKWUDI017                             240240.65
              CHUKWUDI018                             189118.84
              CHUKWUDI019                              20812.92
...                                                         ...
Starchy Foods CHUKWUDI027                              90435.62
              CHUKWUDI035                             107764.75
              CHUKWUDI045                              71372.10
              CHUKWUDI046                              46276.42
              CHUKWUDI049                              94826.56

[160 rows x 1 columns]